/* Body styling */
body {
  font-family: Arial, sans-serif;
  background: rgb(142, 93, 32);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form box */
form {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

/* Heading */
form h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

/* Submit button */
form input[type="submit"] {
  width: 95%;
  padding: 10px;
  background: #874a01;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

form input[type="submit"]:hover {
  background: #c07701;
}

/* Sign Up text */
form p {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

/* Sign Up link */
form a {
  color: #4e54c8;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

form a:hover {
  text-decoration: underline;
  color: #373b9b;
}
